
.forecast {
    display: flex;
    margin: 0 auto;
    margin-bottom: 70px;
    justify-content: center;
}

.message {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 38px;
    color: $color1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
}

.forecast .day {
    position: relative;
    width: 130px;
    height: 204px;
    background-color: $color4;
    color: $color1;
    padding-top: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    margin: 0;

    &:hover {
        cursor: pointer;
        background-color: $color5;
    }
}

.forecast .day.selected {
    background-color: $color5;
}

.day-week {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.forecast .temperature {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 30px;
    margin-top: 20px;
}

.forecast-icon img{
    height: 37px;
    width: auto;
}


@media screen and (max-width: 910px) {
    .forecast {
        overflow-y: auto;
    }

    .forecast-container{
        position: relative;
        padding-bottom: 40px;
        margin-bottom: 60px;
        width: 100%;
        max-width: 910px;
        margin: 0 auto;

        &::after{
            content: '';
            display: block;
            width: 100px;
            height: 60px;
            /*background: transparent url(./assets/drag-icon.svg) center center no-repeat;*/
            background-size: contain;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: 9;
        }
    }
}

@media screen and (max-width: 768px) {
    .forecast-container{
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 40px;

        &::after{
            content: '';
            display: block;
            width: 100px;
            height: 40px;
            /*background: transparent url(./assets/drag-icon.svg) center center no-repeat;*/
            background-size: contain;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
    .forecast {
        width: calc(100% + 40px);
        margin-left: -20px;
        overflow-y: scroll;
    }
}